@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Karla', sans-serif;
    list-style: none;
}

main{
    max-width: 450px;
    margin: auto;
    min-height: 100vh;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

section{
    border: 1px solid red;
    width: 100%;
    padding: 30px;
}

h2{
    margin-bottom: 20px;
}

p, li {
    margin: 20px 0;
    font-size: 1.2em;
}

p.espacamento{
    line-height: 1.3em;
}

li{
    font-size: 1.1em;
    margin: 7px;
}

span{
    font-size: 2em;
}

button{
    display: block;
    margin: 5% auto 5%;
    height: 30%;
    width: 90%;
    font-size: 1.3em;
}

h2, p {
    border: 1px solid blue;
}


@media (min-width: 821px){
    main{
        max-height: 90vh;
        min-height: 90vh;
        max-width: 70%;
        margin: 5vh auto;
    }

    section.segundaria{
        width: 50%;
    }

    p, li {
        font-size: min(1.2em, 1.92vw);
    }
}