@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Karla', sans-serif;
    list-style: none;
}

body{
    background-color: hsl(204, 43%, 93%);
}

main{
    max-width: 450px;
    margin: auto;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

section{
    border: 1px solid red;
    width: 100%;
    padding: 30px;
}

section#assinatura{
    background-color: hsl(179, 62%, 43%);
}

section#beneficios{
    background-color: hsla(179, 62%, 43%, 0.7);
}

h2, h1{
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

h1{
    color: hsl(179, 62%, 43%);
}

p, li {
    margin: 20px 0;
    font-size: 1.2em;
    color: white;
}

p.espacamento{
    line-height: 1.3em;
    color: hsl(218, 22%, 67%);
}


p.destaque{
    color: hsl(71, 73%, 54%);
    font-weight: bold;
}

li{
    font-size: 1.1em;
    margin: 7px;
}

p#preco span:first-child{
    font-size: 2em;
    font-weight: bold;
}

p#preco span:last-child{
    color: hsl(204, 43%, 93%);
}

button{
    display: block;
    margin: 5% auto 5%;
    height: 30%;
    width: 90%;
    font-size: 1.6em;
    background-color: hsl(71, 73%, 54%);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

h2, h1, p {
    border: 1px solid blue;
}


@media (min-width: 821px){
    main{
        max-height: 90vh;
        min-height: 90vh;
        max-width: 70%;
        margin: 5vh auto;
    }

    section.segundaria{
        width: 50%;
    }

    p, li {
        font-size: min(1.2em, 1.92vw);
    }
}